
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* navbar */
.header{
    background-image: url(Assets/Hero-bg.png);
    /* background-size: cover; */
    width: 100%;
    text-align: center;
    justify-content: space-between;
    position: relative;


}
nav{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 50px 0 0 0;
}
nav a{
    text-decoration: none;
    font-size:24px ;
    color: white;
}
.nav-title{
    font-weight: bolder;
    color: #4E47FF;
    font-size: 34px;
    
}
.btn{
    background-color:#4E47FF;
    color: white;
    font-weight: bold;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;
    border: none;
}
.description{
    width: 905px;
    margin: auto;
    padding: 120px 0;
}

/* action */
main div{
    margin-top: 30px;
}

.action{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding: 60px; */
    padding: 30px 160px 0 140px;
    margin: auto;
    gap: 30px;
}
.action-left {
    max-width: 50%;
}

.action-left h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.action-left p {
    margin-bottom: 20px;
    color:#6662888c;
}
.action-right img {
    width: 80%;
    max-width: auto;
    border-radius: 20px;
}
/* productive section */
.productive-users{
    background-color:#786efa52;
    padding: 50px;
    border-radius: 10px;
    text-align: center;
    margin: 100px 140px 10px 140px;
}
.p_header{
   color:#252432 ; 
   font-size: bold;
   font-weight: 700;
}
.p_items{
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    gap: 150px;
    margin: 40px 140px 50px 140px;
}
/* .p_number{
    color:#4E47FF;
    font-size: 30px;
    font-weight: bolder;
} */
h3{
    color:#4E47FF;
    font-size: 40px;
    font-weight: bolder;
}
p{
    font-size: 16px;
    color: #7674a5;
    margin: auto;
}

/*  review section*/
.review-container{
    background-color: aliceblue;
    padding: 20px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    margin: 100px 140px 10px 140px;

}

.review-container h2{
    font-size: 50px;
    font-weight: bold;
}
.review-all{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 24px;
}

.review {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 360px;
  height: 230;
  text-align: left;
}

.stars img {
  width: 20px;
  height: 20px;
  margin: 20px 2px;
}
.review-title {
  color: #1a202c;
  font-size: bold;
  margin: 10px 0 10px;
}

.review-description {
  color: #4a5568;
  font-size: normal;
  margin-top: 10px;
}
.Reviewer {
  display: flex;
  align-items: center;
  justify-content:left;
  
}
.Reviewer-img {
  border-radius: 40%;
}

